/*
  Basic form elements

  NB: Include before _buttons so _buttons can override input[type=submit]
*/

input, textarea {
  font-size: @font-size-small;
  border: 1px solid @border-color;
  box-shadow: none;

  &:focus, &:hover, &:active, &:active:hover, &:active:focus {
    box-shadow: none;
    border: 1px solid @link-color;
  }

  .has-error & {
    border-color: @danger;
    color: @danger;
  }
}

input {
  display: inline-block;
  height: @input-height-base;
  line-height: @input-height-base;
  border-radius: 500px; // Pill-shape
  vertical-align: middle;
  padding: 0 (@input-height-base / 2);

  &[disabled] {
    cursor: not-allowed;
  }
}

// Max width inputs on mobile
@media screen and (max-width: @screen-xs-max) {
  input, textarea { width: 100%; }
}

textarea {
  min-height: 4rem;
  padding: @padding-small @padding-base;
  border-radius: @border-radius-base;
}

input[type=checkbox], input[type=radio], input[type=submit] {
  min-width: 0;
  cursor: pointer;
  width: auto;
}


/*
  By default, we assume form labels are arranged vertically with
  with form inputs. Use .form-row to align horizontally.
*/
label {
  font-size: @font-size-small;
  font-weight: bold;
  display: block;
  cursor: pointer;

  &.disabled {
    font-weight: normal;
    color: @shade-rel;
  }
}

label + input, label + textarea, label + select, label + button.input-style {
  margin-top: @padding-small;
}

.input-row {
  display: flex;

  // Most elements should expand evenly
  > * {
    flex: 1000 1000 1em;
    margin: @padding-base / 2;
  }

  // Action elements and icons should expand comparatively slowly relative
  // to others
  > .icon-label > button, > a, > label, > input[type=submit] {
    flex-basis: auto;
    flex-grow: 1;
    height: @input-height-base;
    line-height: @input-height-base;
    vertical-align: middle;
    min-width: 0;
  }

  // Don't expand certain "small" inputs
  > input[type=number] {
    flex-grow: 0.1;
    min-width: 6rem;
  }

  // Correct for extra padding introduced by child elements
  margin: -@padding-base / 2;
  * + & {
    margin-top: @padding-base / 2;
  }
}

@media screen and (min-width: @screen-sm-min) {
  .form-row {
    .input-row;

    > label { // Tweak this to adjust "column" width
      min-width: 6rem;
    }
  }
}

// Odd ones out
input[type=checkbox], input[type=radio] {
  + label {
    margin-bottom: 0;
    display: inline-block;
  }
}

// For positioning a button or icon inside an input
.has-left-icon, .has-right-icon {
  position: relative;
}

.has-left-icon {
  > input {
    padding-left: @input-height-base;
  }

  > button:first-child, .icon-label:first-child {
    position: absolute;
    left: 0;
    width: @input-height-base;
    padding: 0;

    > .icon-label.no-text:only-child { margin: 0; }
  }
}

.has-right-icon {
  > input {
    padding-right: @input-height-base;
  }

  > button:last-child, .icon-label:last-child {
    position: absolute;
    right: 0;
    width: @input-height-base;
    padding: 0;

    > .icon-label.no-text:only-child { margin: 0; }
  }
}
