/*
  Fixes for the Esper logo
*/
@logo-height: 1.5rem;

.logo-mark {
  img, svg {
    height: @logo-height;
    width: @logo-height;
  }

  // Second image is word-mark
  img + img, svg + svg {
    height: 0.75rem;
    width: auto;
    margin-left: @padding-base;
  }

  margin-right: @padding-base;

  a {
    display: flex;
    align-items: center;
  }
}
