/*
  Fixes for the Esper logo
*/
@logo-height: 1.5rem;

.logo-mark {
  a { text-decoration: none; }

  img, svg {
    height: @logo-height;
    width: @logo-height;
  }

  // Second image is word-mark
  img + img, svg + svg {
    height: 0.75rem;
    width: auto;
    margin-left: @padding-base;

    @media screen and (max-width: @screen-xs-max) {
      display: none;
    }
  }

  margin-right: @padding-base;

  a {
    display: flex;
    align-items: center;
  }
}
