@import "./_variables";
@import (reference) "./_buttons.less";
@import "./components/_header";
@import "./components/_footer";

@landing-gradient: linear-gradient(to bottom right, #F2E4FE, #F9F5E9);

.subheading {
  font-size: @font-size-large;
  font-weight: 300;
  margin-top: @padding-small;

  + * {
    margin-top: @padding-lg;
  }
}

body > header + .splash {
  margin-top: 0;
  padding-top: @navbar-height;
}

body > .splash, body > .cta-container, body > footer.corporate {
  // Slightly more bottom padding to compensate for font not stretching to edge
  padding: 4.2rem @padding-base 5rem;

  @media screen and (min-width: @screen-sm-min) {
    padding-left: @padding-xl;
    padding-right: @padding-xl;
  }
}

.splash {
  // Mobile
  display: flex;
  background: @body-bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: block;

  .container {
    text-align: center;
    padding: 0;
    max-width: 0.75 * @max-container-width;
    margin: 0 auto;

    > * {
      margin-left: auto;
      margin-right: auto;
    }

    .cta-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: @padding-lg;
    }
  }

  // Desktop
  @media screen and (min-width: @screen-sm-min) {
    height: 90vh;
    display: flex;
    align-items: center;
  }

  // Dark mode
  &.dark {
    color: @inverse-rel;
    box-shadow: @down-box-shadow;

    h1, h2, h3 {
      color: @inverse-rel-light;
    }

    * + h2, * + h3, * + h4 {
      color: @inverse-rel;
    }

    .cta.secondary {
      border-color: @off-white;
      color: @off-white;
      &:hover {
        background: @off-white;
        color: @text-color;
      }
    }
  }
}

.splash + .splash { margin-top: 0; }

// Specific placement for certain splash images
#main-splash {
  background-position: right 10% center;
  display: flex;
  align-items: center;
  .container {
    width: 70vw;
    text-align: left;
  }

  @media screen and (min-width: @screen-sm-min) {
    .container {
      margin-left: 40vw;
      margin-top: 0;
    }
  }
}

// Main sweep sub-splash
#main-splash + #sweep-slack-splash {
  background-image: ~"url(/img/esper-slack.png)";
  box-shadow: none;
}

// Main charts sub-splash
#charts-sub-splash {
  background-image: ~"url(/img/main-charts-splash.png)";
  background-position: center 4rem;
  background-size: auto 60vh;
  padding-top: calc(~"70vh + 1rem");
  height: auto;

  @media screen and (min-width: @screen-sm-min) {
    padding-top: calc(~"70vh - 2rem");
  }
}

// Charts page splash
#charts-splash {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-image:url(/img/charts-splash.png);
  background-size: auto 50vh;
  background-position: center bottom;

  @media screen and (min-width: @screen-sm-min) {
    background-size: auto 60vh;
    background-position: right 20% center;
    .container {
      width: 30vw;
      margin: -@navbar-height 0;

      p, div {
        max-width: 300px;
      }
    }
  }

  @media screen and (min-width: @screen-md-min) {
    .container {
      margin: -@navbar-height 0 0 10vw;
    }
  }
}

// Sweep sub-splash
#sweep-slack-splash {
  background-image: ~"url(/img/esper-slack.png)," @landing-gradient;
  background-size: auto 600px, cover;
  background-position: center bottom -300px, center;
  height: auto;
  box-shadow: @down-box-shadow;

  // Enough padding to cover visible portion of background image and then some
  padding: 3rem @padding-base calc(600px - 300px ~"+ 3rem");

  .container svg {
    max-width: 300px;
  }

  @media screen and (min-width: @screen-sm-min) {
    background-size: auto 80vh, cover;
    background-position: 60vw 18vh, center;
    padding: calc(~"18vh + " @padding-base) 60vh @padding-base @padding-base;
    align-items: flex-start;
    height: 80vh;

    .container {
      width: 60vw;
      max-width: none;
    }
  }
}

// Ratings splash
#ratings-splash {
  background-image:
   linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
   ~", url(/img/ratings-splash.jpg)";

  @media screen and (min-width: @screen-sm-min) {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
      ~", url(/img/ratings-splash.jpg)";
    background-position: right top;
    padding-left: 60vw;
    justify-content: flex-end;

    .container { min-width: 450px; }
  }
}

/*
  Pricing splash is not a real splash and more of a colorful backdrop for
  pricing data
*/
#pricing-splash {
  background: @landing-gradient;
  height: 75vh;
  align-items: flex-start;
  margin-bottom: calc(3rem + @padding-base + @navbar-height ~"- 75vh");

  .container {
    margin: 0 auto;
    line-height: 3rem;
  }
}

// Feature lists -- assume we use with .flex
.features {
  max-width: calc((3 * @min-container-width) ~" + " (6 * @padding-base));
  margin-left: auto;
  margin-right: auto;

  .feature {
    text-align: center;
    padding: (@padding-xl / 2) 0;
    img, svg {
      height: @min-container-width * 0.65; width: auto;
      margin: @padding-lg auto;
      & + * { margin-top: 0; }
    }

    svg {
      .c1 {
        fill: lighten(@purple-muted, 10%);
      }

      .c2 {
        fill: lighten(@purple-muted, 15%);
      }

      .c3 {
        fill: lighten(@purple-muted, 20%);
      }
    }
  }
}

body > * {
  margin-top: 0;
}

body > section {
  padding: @padding-lg @padding-base;
}

body > .cta-container {
  text-align: center;

  @media screen and (min-width: @screen-sm-min) {
    button { min-width: @min-container-width; }
  }

  & + footer, & + footer.corporate { margin-top: 0; }
}

.splash ~ section, .feature {
  > h2, > h3 {
    text-align: center;
  }
}

// Single container object - make larger to fill up content
body > .main.container {
  min-height: calc(~"90vh - " (@navbar-height * 2) ~" - " (@padding-xl * 2));
}

// Smaller container for narrower content
.container-small {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.alt-bg {
  background: @landing-gradient;
}

// Pricing container
#pricing-plans {
  margin: 0 auto;
  padding: @padding-base;
  max-width: (2 * @padding-base) + (8 * @padding-small) + (4 * 20rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  > * {
    flex: 0 1 20rem;
    width: 20rem;
    display: flex;
    flex-flow: column nowrap;
    padding: @padding-lg @padding-base @padding-base;

    > * {
      flex: 0 0 auto;
    }

    // Expand so button is always at end of panel
    > ul { flex-grow: 1; }

    margin-top: 0;
    margin: @padding-small;
  }

  h2, h3 { text-align: center; }

  .price {
    min-height: 2rem;
    color: @text-muted;
    text-align: center;
    margin-top: @padding-small;

    span:first-child {
      font-size: @font-size-large;
      font-weight: bold;
      color: @purple-muted;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-left: @padding-base;
    margin-right: @padding-base;

    * + li { margin-top: @padding-small; }

    li { display: flex; } // Fixes checkmark alignment
    li::before {
      content: "\2714"; // Checkmark
      color: @success;
      padding-right: @padding-small;
    }
  }

  .cta-container {
    text-align: center;
    margin-top: @padding-lg;
    h3 + p { color: @text-muted; margin-top: @padding-small; }
    > a { display: block; margin-top: 1rem; }
  }
}

@media screen and (max-width: @screen-xs-max) {
  #pricing-plans {
    padding: @padding-base 0;
    > *.panel { // Restore panel borders lost due to screen width
      border-radius: @border-radius-base;
      border: 1px solid @border-color;
    }
  }
}