@import "./_variables";
@import (reference) "./_buttons.less";
@import "./components/_header";
@import "./components/_footer";

@landing-gradient: linear-gradient(to bottom right, #F2E4FE, #F9F5E9);
@splash-top: @padding-lg;

.subheading {
  font-size: @font-size-large;
  font-weight: 300;
  margin-top: @padding-small;
  line-height: 1.3;

  + * {
    margin-top: @padding-lg;
  }
}

body > * {
  margin-top: 0;
}

body > header + .splash {
  margin-top: 0;
  padding-top: @navbar-height;
}

body > .splash, body > .cta-container, body > section {
  padding: @padding-xxl @padding-base;

  @media screen and (min-width: @screen-sm-min) {
    padding-left: @padding-xxl;
    padding-right: @padding-xxl;
  }
}

body > .landing-header + .splash {
  padding-top: @splash-top + @navbar-height;
}


body > .cta-container {
  text-align: center;

  @media screen and (min-width: @screen-sm-min) {
    button { min-width: @min-container-width; }
  }

  & + footer, & + footer.corporate { margin-top: 0; }
}

.splash ~ section, .feature {
  > h2, > h3 {
    text-align: center;
  }
}

// Single container object - make larger to fill up content
body > .main.container {
  min-height: calc(~"90vh - " (@navbar-height * 2) ~" - " (@padding-xl * 2));
}

// Smaller container for narrower content
.container-small {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 @padding-base;
}

.alt-bg {
  background: @landing-gradient;
}

/*
  Font often stops a little short of top of bounding box (though this
  varies based on the actual font). Nudge up slightly to help with
  vertical padding.
*/
h1, h2 { margin-top: -0.2em; }

.splash {
  // Mobile
  display: flex;
  background: @body-bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: block;

  .container {
    text-align: center;
    padding: 0;
    max-width: 0.75 * @max-container-width;
    margin: 0 auto;

    > * {
      margin-left: auto;
      margin-right: auto;
    }

    .cta-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: @padding-lg;
    }
  }

  // Desktop
  @media screen and (min-width: @screen-sm-min) {
    height: 90vh;
    display: flex;
    align-items: center;
  }

  // Dark mode
  &.dark {
    color: @inverse-rel;
    box-shadow: @plus-down-shadow;

    h1, h2, h3 {
      color: @inverse-rel-light;
    }

    * + h2, * + h3, * + h4 {
      color: @inverse-rel;
    }

    .cta.secondary {
      border-color: @off-white;
      color: @off-white;

      &:hover, &:focus {
        background: fadeout(@off-white, 90%);
      }
    }
  }
}

.splash + .splash { margin-top: 0; }

// Specific placement for certain splash images
#main-splash {
  background-position: right 10% center;
  display: flex;
  align-items: center;
  .container {
    width: 70vw;
    text-align: left;
  }

  @media screen and (min-width: @screen-sm-min) {
    .container {
      margin-left: 40vw;
      margin-top: 0;
    }
  }
}

// Main agenda sub-splash
#main-splash ~ #agenda-slack-splash {
  background-image: ~"url(/img/slack-agenda.png)";
  box-shadow: none;
}

// Main ratings sub-splash
#main-splash ~ #ratings-splash  {
  @media screen and (min-width: @screen-sm-min) {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
      ~", url(/img/ratings-splash.jpg)";
    background-position: right top;
    padding-left: 60vw;
    justify-content: flex-end;

    .container { min-width: 450px; }
  }
}

// Main charts sub-splash
#charts-sub-splash {
  background: transparent;
  background-image: ~"url(/img/main-charts-splash.png)";
  background-repeat: no-repeat;
  background-position: center @padding-xxl;
  background-size: auto 60vh;
  padding-top: calc(60vh * 0.84 ~"+" 2 * @padding-xxl);
    // 0.84 = portion of image height taken up by pie
  height: auto;
}

// Charts page splash
#charts-splash {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-image:url(/img/charts-splash.png);
  background-size: auto 50vh;
  background-position: center bottom;
  height: auto;
  padding-bottom: 50vh;

  @media screen and (min-width: @screen-sm-min) {
    height: 100vh;
    margin-bottom: -10vh;
    padding: @padding-xl;
    padding-right: calc(@padding-xl ~"+" 1.175 * 70vh);
      // 1.175 = ratio of image laptop screen *width* to *height* of image
    background-size: auto 70vh;
    background-position: right @padding-xl center;
    .container {
      padding: @padding-base;
      background: fadeout(@body-bg, 10%);
      width: calc(300px ~"+" @padding-base * 2);
      border-radius: @border-radius-base;
      margin: auto;
      > * { width: 300px; }
    }
  }
}

// agenda sub-splash
#agenda-slack-splash {
  background-image: ~"url(/img/slack-agenda.png)," @landing-gradient;
  background-size: auto 600px, cover;
  background-position: center bottom -300px, center;
  height: auto;
  box-shadow: @plus-down-shadow;

  // Enough padding to cover visible portion of background image and then some
  padding-bottom: calc(600px - 300px ~"+" @padding-xxl);

  .container svg {
    max-width: 300px;
  }

  @media screen and (min-width: @screen-sm-min) {
    background-size: auto 80vh, cover;
    background-position: 60vw center, center;
    padding-right: 40vw;
    padding-bottom: @padding-xxl;
    height: 100vh;

    .container {
      width: 60vw;
      max-width: none;
    }
  }
}

// Ratings splash
#ratings-splash {
  background-image:
   linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
   ~", url(/img/ratings-splash.jpg)";
}

/*
  Pricing splash is not a real splash and more of a colorful backdrop for
  pricing data
*/
#pricing-splash {
  background: @landing-gradient;
  height: 75vh;
  align-items: flex-start;
  margin-bottom:
    calc(2 * @splash-top + @navbar-height + @font-size-h1 ~"- 75vh");
    // Spacing allows for one h1 + default splash padding

  .container {
    margin: 0 auto;
    line-height: 3rem;
  }
}

// Feature lists -- assume we use with .flex
.features.flex {
  max-width: calc((3 * @min-container-width) ~" + " (6 * @padding-base));
  margin: (@padding-xxl - @padding-xl / 2) auto;
  padding: 0 (@padding-base / 2);

  .feature {
    text-align: center;
    padding: (@padding-xl / 2) 0; // Vertical padding between features

    h2 {
      font-weight: normal;
    }

    img, svg {
      height: 80px; width: auto;
      margin: @padding-lg auto;
      & + * { margin-top: 0; }
    }

    svg {
      .c1 {
        fill: lighten(@purple, 10%);
      }

      .c2 {
        fill: lighten(@purple, 15%);
      }

      .c3 {
        fill: lighten(@purple, 20%);
      }
    }
  }
}

// Pricing container
#pricing-plans {
  margin: 0 auto;
  padding: @padding-base;
  max-width: (2 * @padding-base) + (8 * @padding-small) + (4 * 20rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  > * {
    flex: 0 1 20rem;
    width: 20rem;
    display: flex;
    flex-flow: column nowrap;
    padding: @padding-lg @padding-base @padding-base;

    > * {
      flex: 0 0 auto;
    }

    // Expand so button is always at end of panel
    > ul { flex-grow: 1; }

    margin-top: 0;
    margin: @padding-small;
  }

  h2, h3 { text-align: center; }

  .price {
    min-height: 2rem;
    color: @text-muted;
    text-align: center;
    margin-top: @padding-small;

    span:first-child {
      font-size: @font-size-large;
      font-weight: bold;
      color: @purple-muted;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-left: @padding-base;
    margin-right: @padding-base;

    * + li { margin-top: @padding-small; }

    li { display: flex; } // Fixes checkmark alignment
    li::before {
      content: "\2714"; // Checkmark
      color: @success;
      padding-right: @padding-small;
    }
  }

  .cta-container {
    text-align: center;
    margin-top: @padding-lg;
    h3 + p { color: @text-muted; margin-top: @padding-small; }
    > a { display: block; margin-top: 1rem; }
  }
}

@media screen and (max-width: @screen-xs-max) {
  #pricing-plans {
    padding: @padding-base 0;
    > *.panel { // Restore panel borders lost due to screen width
      border-radius: @border-radius-base;
      border: 1px solid @border-color;
    }
  }
}