@import "./_variables";
@import "./components/_calendar";
@import "./components/_day-box";
@import "./components/_event-list";
@import "./components/_period-selectors";
@import "./components/_slide-show";
@import "./components/_team-settings";
@import "./components/_timebomb-toggle";

@media screen and (min-width: @screen-sm-min) {
  .container > h2:first-child {
    margin-top: @padding-lg;
  }
}

// Hide header in timebomb-only product
.event-list .event .timebomb-toggle, .timebomb-toggle {
  h4 { display: none; }
}

// Onboarding
.onboarding-next {
  display: flex;

  > * {
    flex-grow: 1;
  }

  > span > button {
    width: 100%;
  }
}

// Timebomb event page styling
#tb-event-list {
  .no-content-msg {
    padding: @padding-base;
    text-align: center;
    color: @text-muted;

    a { display: block; }
  }

  .load-more button {
    width: 100%;
    border: 1px solid @border-color;
  }
}