{% extends '_landing.html' %}

{% block title %}Attribution | Esper{% endblock %}

{% block main %}
  <div class="main container">
    <h1>Attribution</h1>
    <p>
      This page lists selected products, resources, and libraries
      used as part of the services Esper provides, or bundled with
      software distributed by Esper.
    </p>
    <p>
      Inclusion in this list does not imply endorsement of nor endorsement
      by Esper.
    </p>
    <ul>
      <li><a href="https://fontawesome.io/">FontAwesome</a></li>
      <li><a href="https://icomoon.io/">IcoMoon</a></li>
    <ul>
  </div>
{% endblock %}
