{% extends '_landing.html' %}

{% block title %}Charts | Esper{% endblock %}

{% block main %}
  <section id="charts-splash" class="splash"
      style="background-image:url(img/charts-splash.png)">
    <div class="container">
      <h1>
        Count the Hours
      </h1>
      <h2>
        Tag, filter, and chart your calendar events using Esper
      </h2>
      <div>
        <a class="cta primary" href="/login">
          Sign Up For Free
        </a>
        <button id="demo-btn" class="cta">
          Try the Demo
        </button>
      </div>
    </div>
  </section>

  <section id="charts-features" class="features flex">
    <div class="feature">
      <h3>Works Well With Others</h3>
      {% include 'img/google-exchange.svg' %}
      <p>
        Chart events on Google Calendar, Microsoft Exchange, Office 365,
        and more.
      </p>
    </div>

    <div class="feature">
      <h3>Gets Smarter Over Time</h3>
      {% include 'img/cogs.svg' %}
      <p>
        Esper learns from previously tagged events
        automatically categorizes future events to save you time.
      </p>
    </div>

    <div class="feature">
      <h3>Track Meeting Guests</h3>
      {% include 'img/guest-pie-chart.svg' %}
      <p>
        See whom you meet with the most and what you're meeting about.
      </p>
    </div>

    <div class="feature">
      <h3>Hashtags With a Purpose</h3>
      {% include 'img/hashtag.svg' %}
      <p>
        Add a #hashtag to your event description to tag an event
        directly in your calendar.
      </p>
    </div>

    <div class="feature">
      <h3>Be a Team Player</h3>
      {% include 'img/teams.svg' %}
      <p>
        Analyze events across multiple calendars and share with the
        people you work with.
      </p>
    </div>

    <div class="feature">
      <h3>Export Your Data</h3>
      {% include 'img/download.svg' %}
      <p>
        Want to do something we can't?
        Download charts and export tag data as CSV.
      </p>
    </div>
  </section>

  <div class="cta-container">
    <h2>Get Started Today</h2>
    <div>
      <a class="cta primary" href="/login">
        Sign Up For Free
      </a>
    </div>
  </div>
{% endblock %}