{% extends '_landing.html' %}

{% block main %}
  <section id="main-splash" class="splash"
    style="background-image:
      linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
      url(img/main-splash.jpg)
  ">
    <div class="container">
      <h1>Meet&nbsp;less. Do&nbsp;more.</h1>
      <h2>
        Esper gets rid of bad meetings.
      </h2>
      <div>
        <a class="cta primary" href="/tb">
          Sign Up For Free
        </a>
      </div>
    </div>
  </section>

  <section class="splash"
      style="background-image:url(img/main-sweep-splash.png)">
    <div class="container">
      <h2>Poof. Meeting gone.</h2>
      <p>
        Esper Sweep cancels meetings no one wants to go.
        Like magic. No rabbit required.
      </p>
      <div>
        <a class="cta secondary" href="/sweep">Learn More</a>
      </div>
    </div>
  </section>

  <section class="splash dark" style="background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(img/ratings-splash.jpg)">
    <div class="container">
      <h2>Quality not quantity.</h2>
      <p>
        Rate your meetings with Esper. Take notes. Get reminded about
        action items.
      </p>
      <div>
        <a class="cta secondary" href="/ratings">Learn More</a>
      </div>
    </div>
  </section>

  <section class="splash"
      style="background-image:url(img/main-charts-splash.png)">
    <div class="container">
      <h2>Make time count.</h2>
      <p>
        Tag, filter, and analyze what's your calendar. Use Esper's charting tools
        to understand where all the meetings are coming from (and make them
        stop).
      </p>
      <div>
        <a class="cta secondary" href="/charts">Learn More</a>
      </div>
    </div>
  </section>

  <div class="cta-container">
    <h2>Get Started Today</h2>
    <div>
      <a class="cta primary" href="/login">
        Sign Up For Free
      </a>
    </div>
  </div>
{% endblock %}