{% extends '_landing.html' %}

{% block main %}
  <section id="main-splash" class="splash"
    style="background-image:
      linear-gradient(to bottom right,
        rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.25) 25%),
      url(img/main-splash.jpg)
  ">
    <div class="container">
      <h1>Meet&nbsp;less. Do&nbsp;more.</h1>
      <p class="subheading">
        Esper gets rid of bad meetings.
      </p>
      <div>
        <a class="cta primary" href="/tb">
          Sign Up For Free
        </a>
      </div>
    </div>
  </section>

  <section id="sweep-slack-splash" class="splash">
    <div class="container">
      <h2>Agenda Required</h2>
      <p class="subheading">
        Esper ensures your meetings have&nbsp;a&nbsp;point.
      </p>
      <div>
        <a class="cta secondary" href="/sweep">Learn More</a>
      </div>
    </div>
  </section>

  <section id="ratings-splash" class="splash dark">
    <div class="container">
      <h2>Quality not quantity.</h2>
      <p class="subheading">
        Rate your meetings with Esper. Take notes. Get reminded
        about&nbsp;action&nbsp;items.
      </p>
      <div>
        <a class="cta secondary" href="/ratings">Learn More</a>
      </div>
    </div>
  </section>

  <section id="charts-sub-splash" class="splash">
    <div class="container">
      <h2>Make time count.</h2>
      <p class="subheading">
        Tag, filter, and analyze what's on your calendar. Use Esper's charting
        tools to understand where all the meetings are&nbsp;coming&nbsp;from.
      </p>
      <div>
        <a class="cta secondary" href="/charts">Learn More</a>
      </div>
    </div>
  </section>

  <div class="cta-container alt-bg">
    <h2>Get Started Today</h2>
    <div>
      <a class="cta primary" href="/login">
        Sign Up For Free
      </a>
    </div>
  </div>
{% endblock %}