{% extends '_landing.html' %}

{% block main %}
  <div class="container" style="margin-top:10rem;margin-bottom:10rem;">
    <section>
      <h1>Esper has Shut Down</h1>
      <p>
        After four years of trying to save people time, we’ve decided to shut
        down Esper. Esper started off as an executive assistant service focused
        on scheduling but later helped people manage meeting overload by
        charting how time was spent, creating meeting agendas, and collecting
        post-meeting ratings. Unfortunately, Esper has not seen the user growth
        or revenue needed to sustain the product, and we’ve decided to shut
        things down.
      </p>
      <p>
        All subscriptions have been canceled and paying users are being
        refunded on a prorated basis as appropriate.
      </p>
      <p>
        All customer data will be deleted from our systems.
        This includes all calendar data, payment information, analytics data,
        and access tokens. We will not sell or provide customer data to any
        other companies.
      </p>
      <p>
        We're proud of all the work that everyone at Esper has put into the
        product over the years, and we regret not being to do more. We continue
        to believe that excessive and poorly planned meetings
        remain a very real problem for companies both large and small
        and believe that there is an opportunity (albeit a difficult one)
        for anyone who can solve this.
      </p>
    </section>
    <section>
      <h2>Need Help?</h2>
      <p>
        If you have any questions or concerns, please contact us
        at <a href="mailto:support@esper.com">support@esper.com</a>.
      </p>
    </section>
  </div>
{% endblock %}