{#
  Use landing base instead of app because it includes header / footer stuff
#}
{% extends '_landing.html' %}

{% block title %}Login | Esper{% endblock %}

{% block head %}
  {{ super() }}
  <link href="[[css/login--*.css]]" rel="stylesheet" />
{% endblock %}

{% block main %}
  <div id="main" class="main container login-main">
    <div class="panel">
      {# This should get cleared after initial render #}
      <div class="spinner"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="[[js/login--*.js]]"></script>
{% endblock %}
