{#
  Use landing base instead of app because it includes header / footer stuff
#}
{% extends '_landing.html' %}

{% block title %}Login | Esper{% endblock %}

{% block head %}
  {{ super() }}
  <link href="[[css/login--*.css]]" rel="stylesheet" />
{% endblock %}

{% block main %}
  <div id="main" class="main container login-main">
    <div class="panel">
      {# This should get cleared after initial render #}
      <div class="alert danger">
        Esper has shut down. Login is no longer available.
        If you need assistance, please contact
        <a href="mailto:support@esper.com">support@esper.com</a>.
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}{% endblock %}
