{% extends '_landing.html' %}

{% block title %}Ratings | Esper{% endblock %}

{% block head %}
  {{ super() }}
  <link href="[[css/ratings--*.css]]" rel="stylesheet" />
{% endblock %}

{% set login_path = "/fb" %}

{% block header_classes %}dark{% endblock %}

{% block main %}
  <section id="ratings-splash" class="splash dark">
    <div class="container">
      <h1>Room For Improvement</h1>
      <p class="subheading">
        Get ratings and feedback on your meetings with&nbsp;Esper
      </p>
      <div>
        <a class="cta primary" href="/fb">
          Sign Up For Free
        </a>
      </div>
    </div>
  </section>

  <section class="explainer flex">
    <div class="explainer-step">
      <span class="number">1</span>
      <p class="description">
        At the end of meetings you enable Ratings for, Esper sends an email or
        Slack message asking meeting attendee to rate the&nbsp;meeting.
      </p>
    </div>
    <div class="explainer-step">
      <span class="number">2</span>
      <p class="description">
        Each attendee can anonymously leave star ratings or suggestions on how
        the meeting could have been&nbsp;better.
      </p>
    </div>
    <div class="explainer-step">
      <span class="number">3</span>
      <p class="description">
        24 hours later, Esper sends a feedback summary to the meeting
        organizer, who can use the feedback to improve future&nbsp;meetings.
      </p>
    </div>
  </section>

  <!-- Replaced by React -->
  <span id="main"></span>

  <div class="cta-container alt-bg">
    <h2>Get Started Today</h2>
    <div>
      <a class="cta primary" href="/fb">
        Sign Up For Free
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="[[js/ratings--*.js]]"></script>
{% endblock %}