{% extends '_landing.html' %}

{% block title %}Ratings | Esper{% endblock %}

{% set login_path = "/time" %}

{% block header_classes %}dark{% endblock %}

{% block main %}
  <section id="ratings-splash" class="splash dark">
    <div class="container">
      <h1>Room For Improvement</h1>
      <p class="subheading">
        Rate and comment on your meetings with&nbsp;Esper
      </p>
      <div>
        <a class="cta primary" href="/time">
          Sign Up For Free
        </a>
      </div>
    </div>
  </section>

  <section id="ratings-features" class="features flex">
    <div class="feature">
      <h2>It's Full of Stars</h2>
      {% include 'img/star-o.svg' %}
      <p>
        Quantify meeting success. Compare against
        <a href="/charts">meeting tags and guests</a>
        for&nbsp;insights.
      </p>
    </div>

    <div class="feature">
      <h2>Note to Self</h2>
      {% include 'img/speaker-notes.svg' %}
      <p>
        Take private meeting notes and record action items.
        Esper will follow up&nbsp;by&nbsp;email.
      </p>
    </div>

    <div class="feature">
      <h2>Works with Slack</h2>
      {% include 'img/slack.svg' %}
      <p>
        Rate meetings and more with Esper's Slack&nbsp;bot.
      </p>
    </div>
  </section>

  <div class="cta-container alt-bg">
    <h2>Get Started Today</h2>
    <div>
      <a class="cta primary" href="/time">
        Sign Up For Free
      </a>
    </div>
  </div>
{% endblock %}