{% extends '_landing.html' %}

{% block title %}Sweep | Esper{% endblock %}

{% block head %}
  {{ super() }}
  <link href="[[css/sweep--*.css]]" rel="stylesheet" />
{% endblock %}

{% set login_path = "/tb" %}

{% block header_classes %}dark{% endblock %}

{% block main %}
  <div id="sweep-splash" class="splash dark"
    style="background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(img/sweep-splash.jpg)">
    <!-- This gets replaced by React component if token -->
    <div class="container">
      <div id="token-ui">
        <h1>Cancel bad meetings before they&nbsp;cancel&nbsp;you.</h1>
        <h2>Esper Sweep removes unwanted meetings from your calendar.</h2>
      </div>

      <!-- Quick sign in -->
      <div class="cta-container">
        <a id="cta-btn" class="cta primary" href="/tb#!/setup">
          Sign Up For Free
        </a>
      </div>
    </div>
  </div>

  <!-- Howto screens -->
  <section>
    <h2>How it Works</h2>
    <div class="slides">
      <div class="slide">
        <h3>Pick a meeting you'd rather not attend.</h3>
        <img src="/img/picker.png" />
      </div>

      <div class="slide">
        <h3>
          We'll send an email to all guests before the meeting asking if they
          want to keep it on the calendar.
        </h3>
        <img src="/img/email1.png" />
      </div>

      <div class="slide">
        <h3>
          If nobody opts to keep the meeting, we cancel the meeting.
          Time saved!
        </h3>
        <img src="/img/email2.png" />
      </div>
    </div>
  </section>

  <!-- CTA again -->
  <div class="cta-container" style="text-align: center">
    <h2>Get Started Today</h2>
    <div>
      <a id="cta-btn" class="cta primary" href="/tb#!/setup">
        Sign Up For Free
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="[[js/sweep--*.js]]"></script>
{% endblock %}