@import (reference) "../_variables";

.alert-color-variant(@color) {
  background: fadeout(@color, 90%);
  color: @color;
  border-radius: @border-radius-base;
  padding: @padding-small @padding-base;

  .panel & { border-radius: 0; }
}

.alert.info {
  .alert-color-variant(@info);
}

.alert.success {
  .alert-color-variant(@success);
}

.alert.warning {
  .alert-color-variant(@warning);
}

.alert.danger {
  .alert-color-variant(@danger);
}

// Dismiss button
.alert button:first-child {
  float: right;
  position: relative;
  padding: @padding-small;
  top: -@padding-small;
  right: -@padding-small;
  line-height: @font-size-large;
  font-size: @font-size-small;
}