@import "./_bar-chart";

.calc-display .stats {
  > * {
    display: block;
    clear: both;

    .value {
      float: right;
      text-align: right;
      font-weight: bold;
      color: @text-header;

      .decimal {
        font-size: 1rem;
      }
    }

    .unit {
      margin-top: 0;
      color: @text-muted;
      font-size: @font-size-small;
      text-transform: uppercase;
    }

    + * {
      margin-top: @padding-small;
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    display: flex;

    & > * + * {
      margin-top: 0;
    }

    & > * {
      flex: 1 1 1em;
      min-width: 4rem;
      text-align: center;
    }

    .value {
      float: none;
      display: block;
      font-size: @font-size-large;
      text-align: center;
    }
  }
}

.calc-display .calculating {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: @padding-small;
  color: @text-muted;
}

.calc-display .bar-chart {
  margin-bottom: @padding-lg;

  @media screen and (min-width: @screen-sm-min) {
    margin-top: @padding-lg;
    margin-bottom: @padding-xl;
  }
}