@import (reference) "../_variables";

@media screen and (min-width: @screen-sm-min) {
  .modal-wrapper {
    max-width: 550px;
  }
}

.event-landing {
  h3 {
    font-size: @font-size-h2;
  }

  textarea {
    min-height: 10em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border: 1px solid @border-color;
    border-radius: @border-radius-small;
    box-shadow: inset @down-box-shadow;
  }

  button.cta {
    display: block;
    min-width: 30%;
    margin: @padding-base auto 0;
  }
}

.panel .event-landing {
  .alert:first-child {
    margin-top: -@padding-base;
  }

  @media screen and (max-width: @screen-xs-max) {
    .data-status:last-child {
      margin-bottom: -@padding-base;
      margin-left: -@padding-base;
      margin-right: -@padding-base;
    }
  }
}

// Special rendering for "no event"
.empty .placeholder {
  animation: none;
  background: transparent;
  border: 2px dashed @border-color;
}

.lead-in {
  font-size: @font-size-large;
  font-weight: 300;
}

.lead-in + * { margin-top: 0; }