/*
  Event info class is used to namespace styling for event-specific fields.
  Used by both InlineInfo, EventList, and EventEditor
*/
@import (reference) "../_variables";

.event-info {
  .inline-info {
    font-size: @font-size-small;
    color: @text-muted;

    > * {
      display: inline-block;
      margin-top: 0;
      &::before {
        content: "\2022";
        display: inline-block;
        text-align: center;
        width: @padding-base;
      }

      &:first-child::before {
        display: none;
      }
    }
  }

  .no-title {
    font-style: italic;
    color: @text-muted;
  }

  .time { margin-top: 0; }

  .time, .location {
    font-size: @font-size-small;
    color: @text-muted;
  }

  .cost::before {
    color: @text-muted;
  }

  // .cost-1 {
  //   color: @text-muted;
  // }

  // .cost-2 {
  //   color: @degree-2;
  // }

  // .cost-3 {
  //   color: @degree-3;
  // }

  .cost-4 {
    color: @degree-4;
    font-weight: bold;
  }

  .cost-5 {
    color: @degree-5;
    font-weight: bold;
  }

  &.hidden {
    .event-title {
      text-decoration: line-through;
      color: @text-muted;
    }
  }
}

/*
  Event box is our standard compact UI for interacting with an event. Meant
  for use in a list or if surrounded by other content.
*/
.event-box, .event-box.panel {
  padding: @padding-base - (@padding-small / 2);
  display: flex;
  align-items: center;
  flex-flow: row wrap;

  > * {
    flex: 1000 1000 250px;
    margin-top: 0;
    padding: @padding-small / 2;
    min-width: 250px;

    @media screen and (min-width: @screen-sm-min) {
      // See https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
      min-width: 300px;
      flex-basis: 300px;
    }
  }

  &.past {
    .event-title {
      font-weight: normal;
      color: @text-muted;
    }
  }

  .event-title {
    display: inline-block;
    margin-right: @padding-small;
    label { display: inline; }
    * + * { margin-top: 0; }
  }
}
