/*
  Styling for a drill-down or edit view for an event
*/
@import (reference) "../_variables";
@import (reference) "./_tag-list";

.event-editor {
  > .dropdown-toggle:first-child {
    float: right;
    position: relative;
    top: -@padding-small;
    right: -@padding-small;

    + * { margin-top: 0; }
  }

  &.hidden {
    h3 {
      text-decoration: line-through;
      color: @text-muted;
    }

    .tag-list, .tag-list ~ * {
      display: none;
    }

    .tag-list ~ .panel {
      display: block;
    }
  }

  .no-title {
    font-style: italic;
    color: @text-muted;
  }

  .time { margin-top: 0; }

  .time, .location {
    font-size: @font-size-small;
    color: @text-muted;
  }

  .description, .recurring-labels {
    font-size: @font-size-small;
  }

  .recurring-labels {
    .description {
      margin-right: @padding-small;
    }

    button {
      padding: 0;
      display: inline;
      text-transform: none;
      line-height: inherit;
    }
  }

  .guest {
    .name {
      display: inline-block;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: normal;
    }

    .name + .status {
      margin-top: 0;
      display: block;
      font-size: @font-size-small;
      color: @text-muted;
    }

    &.declined .name {
      color: @text-muted;
      text-decoration: line-through;
    }
  }

  .comment-section {
    button.primary { float: right; }
  }

  .comment-delete {
    float: right;
    position: relative;
    top: -@padding-small;
  }

  .comment {
    font-size: 0.9em;

    h5 {
      margin-top: 0;
      font-weight: bold;
      font-size: 1rem;
    }

    .time + * {
      margin-top: @padding-small;
    }
  }
}