@import (reference) "../_variables";

@media screen and (max-width: @screen-xs-max) {
  .gim.row {
    flex-wrap: wrap;

    .gim.name {
      // Leave space for two buttons
      max-width: calc(~"100% - " (@padding-base * 4) + (2 * 1.25rem));
    }

    .group-role-badge {
      width: 100%;
      text-align: left;
      order: 99;
    }
  }
}

.invite-member {
  margin-top: @padding-small;
  text-align: right;
}

.group-role {
  display: inline-block;
  width: 90%;
  vertical-align: top;

  > *:first-child {
    text-transform: uppercase;
  }

  > p {
    margin-top: (@padding-small / 2);
    color: @text-muted;
    font-weight: normal;
  }
}

.export-widget {
  text-align: center;
}