/*
  Use menus to stack buttons, selectors, etc. in a compact vertical form
*/
@import (reference) "../_variables";

.menu-item() {
  display: block;
  min-width: 100%;
  background: transparent;
  font-size: @font-size-small;
  padding: @padding-small @padding-base;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  text-align: left;

  + * {
    margin-top: 0;
  }

  &:hover, &.active {
    color: @text-highlight;
    background: @text-highlight-bg;
    box-shadow: none;
    transform: none;
  }

  &:active, &:hover:active, &.active:active {
    background: darken(@text-highlight-bg, 5%);
  }

  &.selected {
    color: @green_hover;
    border-color: @green_hover;
    background-color: lighten(@green, 50%);
    &:hover {
      background-color: lighten(@green, 35%);
    }
  }
}

.menu {
  > *, > label, > .checkbox.item, > .radio-item {
    .menu-item;
  }
}
