@import (reference) "../_variables";
@nav-border-thickness: 1px;

header nav {
  display: flex;
  max-width: calc(~"100% + " 2 * @padding-base);
  overflow-x: auto;

  &:first-child {
    margin-left: -@padding-base;
  }

  &:last-child {
    margin-right: -@padding-base;
  }

  > * {
    display: inline-block;
    flex: 1000 1000 1em;
    min-width: 1em;
    text-align: center;
    margin-top: 0;
    height: @navbar-height;
    line-height: @navbar-height;
    padding: 0 @padding-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      border-bottom: @nav-border-thickness solid @link-color;
    }

    &:hover, &:focus {
      border-bottom: @nav-border-thickness solid @link-color;
      text-decoration: none;
    }

    &:after {
      display: block;
      content: " ";
    }
  }

  // Labels only on mobile
  @media screen and (max-width: @screen-xs-max) {
    .icon-label > i + span { display: none; }
  }
}
