@import (reference) "../_variables";

@media screen and (min-width: @screen-sm-min) {
  .onboarding {
    > h2:first-child {
      margin-top: @padding-lg;
      font-weight: 400;
    }
  }
}

.onboarding {
  text-align: center;
  h2 { font-weight: 400; }

  .subheading {
    font-size: @font-size-large;
    font-weight: 300;
    margin-top: @padding-small;
    line-height: 1.3;

    + * {
      margin-top: @padding-lg;
    }
  }
}

// Onboarding
.onboarding-footer {
  max-width: 500px;
  margin-top: @padding-xl;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  p { color: @text-muted; }

  .description {
    font-size: @font-size-small;
    color: @text-muted;
  }

  > button, > span > button {
    margin-top: @padding-base;
    width: 100%;
  }
}