header {
  .period-selector {
    display: flex;

    > * {
      flex: 1 1 auto;
      min-width: 1em;
      overflow-x: hidden;
      text-overflow: ellipsis;

      > .icon-label:first-child {
        margin-right: @padding-small;
      }

      > .icon-label:last-child {
        margin-left: @padding-small;
      }
    }

    > *:first-child { // Left button
      flex: 1000 1000 auto;
      text-align: right;
    }

    > *:last-child { // Right button
      flex: 1000 1000 auto;
      text-align: left;
    }
  }
}

.period-selector-menu .presets {
  display: flex;
  flex-flow: row wrap;
  padding: @padding-small;

  > button {
    flex-grow: 1;
    &.active { color: @info; }
  }
}

.period-selector-menu .description {
  text-align: center;
  background: @shade-bg;
  font-size: @font-size-small;
  padding: @padding-small;
}

.period-selector-menu .calendar ~ * {
  margin-top: @padding-small;
}

.period-selector-menu .calendar > header:first-child {
  margin-top: 0;
}