/*
  A label or tag or something to call attention to some text
*/
@import (reference) "../_variables";

.tag {
  display: inline-block;
  padding: 0 @padding-small;
  font-size: @font-size-small;
  height: @input-height-small;
  line-height: @input-height-small;
  vertical-align: middle;
  border-radius: @border-radius-small;
  background: @brand-bg;
  color: @brand-contrast;
  margin-right: @padding-small;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  a, a:visited, a:hover { color: inherit; }
}

.tag + .tag {
  margin-top: 0;
}