.timebomb-status {
  text-align: center;

  .options { margin-top: @padding-small; }
}

.timebomb-toggle {
  .options {
    display: flex;
    flex-flow: row nowrap;

    * + * { margin-top: 0; }
    > * {
      text-align: center;
      flex: 1 1 1em;
    }

    .pseudo-radio { margin-right: 0; }
    .pseudo-radio + * {
      display: block;
    }
  }
}